
body {
  background-image: url("tiny_grid.png");
}

/* text and title formatting */
h1 {
  color: black;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: bold;
  font-size: 18pt;
}

h2{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  font-weight: bold;
  align: left;
  margin-top: 115px;
  padding-top: 10px;
}

h3{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 150%;
  font-weight: bold;
  align: left;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 20px;
}

h4{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: bold;
  align: left;
}

h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 99%;
  padding-bottom: 15px;
}

/* Boxes and Containers */
#box {
  background-color: white;
  height: 110px;
  width: auto;
}

#box2 {
  background-color: white;
  width: 780px;
  height: 500px;
  margin-top: 55px;
  float: right;
  margin-right: 190;
}

#profilebox {
  margin-left: 250px;
  margin-top: 55px;
}

#box3 {
  margin-left: 250px;
  background-color: #FFE300;
  height: 200px;
  width: 50px;
  float: left;
}

#box4 {
  background-color: #FFE300;
  height: 40px;
  width: 200px;
}

#box5 {
  background-color: white;
  margin-left: 450px;
  margin-top: -150px;
  width: 780px;
  height: 500px;
}

#centerbox {
  width: 50%;
  height: auto;
  align-self: center;
}

#infoBox{
  background-color: white;
  margin-left: 200px;
  margin-top: 200px;
  width: 450px;
  float: left;
}
/* element modification*/
button {
  background-color: #FFE300;
}
ul {
  list-style-type: none;
  align-self: right;
  font-size: 100%;
  margin-right: 50px;
  margin-top: -10px;
}

li {
  float: right;
  display: inline;
  color: black;
  height: 50px;
}

a:link {
  color: black;
  display: block;

  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  color: black;
}

/* adjusts transparency over an image*/
a:hover{
  opacity: 0.75
}

/* negates opacity attribute on a:hover for nav bar*/
h5:hover {
  padding: 10px;
  background-color: lightgrey;
  opacity: 1.0;
}

p {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  float: right;
}


/* Create equal columns that sit next to each other */
.column {
  width: 475px;
  margin-bottom: 50px;
}

.columnLittle {
  width: 200px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  margin-bottom: 50px;
}

.rotate {
  webkit-transform: rotate(270deg);
      -webkit-transform-origin: left top;
      -moz-transform: rotate(270deg);
      -moz-transform-origin: left top;
      -ms-transform: rotate(270deg);
      -ms-transform-origin: left top;
      -o-transform: rotate(270deg);
      -o-transform-origin: left top;
      transform: rotate(270deg);
      transform-origin: left top;
}

/* (modified) code source: https://www.w3schools.com/howto/howto_css_contact_form.asp*/
/* Style inputs with type="text" */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #FFE300;
    color: black;
    padding: 12px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80%;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: lightgrey;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
