html, body {
margin:0;
padding:0;
}

body {
 background-image: url("images/grid.png");
}

h1 {
  color: white;
  font-family: 'Mosk Semi-Bold 600';
  src: url('fonts/Mosk Semi-Bold 600.ttf');
  font-size: 100%;
  font-size: 20pt;
  float: left;
}

ul {
  list-style-type: none;
  align-self: right;
  margin: 0;
  padding: 0;
  padding-right: 100px
}

li {
  float: right;
  display: inline;
}

li a {
  font-family: 'Mosk Semi-Bold 600';
  src: url('fonts/Mosk Semi-Bold 600.ttf');
  font-size: 14pt;
  display: block;
  color: white;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
}


#header {
  background-color: black;
  height: 90px;
  width: auto;
  padding-left: 100px;
  padding-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
}

/* Create equal columns that sit next to each other */
.column {
  width: 350px;
  margin-bottom: 50px;
  position: relative;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  margin-bottom: 50px;
  position: relative;
}
